package component

templ Footer() {
	<footer class="flex flex-row justify-center items-center">
		<a href="https://bsky.app/profile/hellopeter.dev" target="_blanke" rel="noreferrer" class="text-blue-600 hover:text-blue-400 underline">
			Follow Me On Bluesky
		</a>
	</footer>
}
