package component

// HelloNameResponse
templ HelloNameResponse(name string) {
	<div class="flex flex-col items-center gap-4" id="helloName">
		<p class="text-foreground font-bold">Hello, { name }!</p>
	</div>
}
